<!-- same as index.erb but now we're using the global @posts -->
<header>
  <div id="headerBox">
  <img id="logoHeader" src="/images/logoHeader.png">
  <h1>Finstigram</h1>
  </div>
  <div class="login-info">
    <% if current_user %>
      <%= current_user.username %>
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    <% end %>
  </div>
</header>

<main role="main">
  <article class="post">
    <div class="user-info">
      <img src="<%= @post.user.avatar_url %>" alt="<%= @post.user.username %>">
      <h2><%= @post.user.username %></h2>
      <h3><%= @post.humanized_time_ago %></h3>
    </div>
    
    <div class="object">
      <a class="photo" href="#">
        <img src="<%= @post.photo_url %>" alt="post from <%= @post.user.username %>">
      </a>
    </div>
    <div class="actions">
      <%= @post.like_count %> likes
      <span class="comment-count"><%= @post.comment_count %> comments</span>
    </div>
    <ul class="comments">
      <% @post.comments.each do |comment| %>
        <li>
          <p>
            <%= comment.user.username %>: <%= comment.text %>
          </p>
        </li>
      <% end %>
    </ul>
  </article>
</main>

<!-- Below is jQuery taken from a tutorial found online for the animation (see animation.css) -->

<script>
$(function () {
  function fadeIn(element) {
    var topOfImage = $(element).offset().top;
    
    var bottomOfWindow = $(window)[0].pageYOffset + $(window)[0].innerHeight;
    
    if (topOfImage + $(element).height() / 2 < bottomOfWindow) {
      $(element).addClass("customFadeIn");
    }
  };
  
  if ($('.object')[0]) 
    fadeIn($('.object')[0]);
  
  $(window).scroll(function() {
    //Original code for the animation to fade in when scrolled into view
    //BUT this does not work on screens that are very large (ex. monitors that are bigger than my 13" laptop,
    //as reproduced when zoomed out to <90% in browser)

      // $('.object').each(function() {
      //     var imagePos = $(this).offset().top;

      //  	var topOfWindow = $(window).scrollTop();

      //   	if (imagePos < topOfWindow+400) {
      //	  $(this).addClass("customFadeIn");
      //  	}
      //  });


    //Fixed calculation with help:
    $('.object').each(function(i, element) { fadeIn(element); });
  });
});
</script>
