  <header>
    <div id="headerBox">
    <img id="logoHeader" src="/images/logoHeader.png">
    <h1>Finstigram</h1>
    </div>
  </header>

  <main role="main">
    <% @posts.each do |post| %>
      <article class="post">
        <div class="user-info">
          <img src="<%= post[:avatar_url] %>" alt="<%= post[:username] %>">
          <h2><%= post[:username] %></h2>
          <h3><%= post[:humanized_time_ago] %></h3>
        </div>
        
        <div class="object customFadeIn">
          <a class="photo" href="#">
            <img src="<%= post[:photo_url] %>" alt="post from <%= post[:username] %>">
          </a>
        </div>
        <div class="actions">
          <%= post[:like_count] %> likes
          <span class="comment-count"><%= post[:comment_count] %> comments</span>
        </div>
        <ul class="comments">
          <!-- Lines 28-34: makes so that there can be more than 1 comment -->
          <% post[:comments].each do |comment| %>
            <li>
              <p>
                <%= post[:comments][0][:username] %>: <%= post[:comments][0][:text] %>
              </p>
            </li>
          <% end %>
        </ul>
      </article>
    <% end %>
  </main>

  <!-- Below is jQuery taken from a tutorial found online for the animation (see animation.css) -->

  <script>
    $(window).scroll(function() {
      
      //Original code for the animation to fade in when scrolled into view
      //BUT this does not work on screens that are very large (ex. monitors that are bigger than my 13" laptop,
      //as reproduced when zoomed out to <90% in browser)

        // $('.object').each(function() {
        //     var imagePos = $(this).offset().top;
  
        //  	var topOfWindow = $(window).scrollTop();
  
        //   	if (imagePos < topOfWindow+400) {
        //	  $(this).addClass("customFadeIn");
        //  	}
        //  });


      //Fixed calculation with help:

      $('.object').each(function() {
        var topOfImage = $(this).offset().top;
        
        var bottomOfWindow = $(window)[0].pageYOffset + $(window)[0].innerHeight;

        if (topOfImage + $(this).height() / 2 < bottomOfWindow) {
          $(this).addClass("customFadeIn");
        }
      });
    });
  </script>
